extends layout

block navigation
	nav#nav
		ul
			li
				a( href="/").skel-layers-ignoreHref
					span.icon.fa-home='Home'
			li
				a( href="/portfolio")#portfolio-link.skel-layers-ignoreHref
					span.icon.fa-th='Portfolio'
			li
				a( href="/articles").skel-layers-ignoreHref
					span.icon.fa-home='Articles'
			li
				a( href="/photo").skel-layers-ignoreHref
					span.icon.fa-home='Pohoto'	
			li
				a( href="/models").skel-layers-ignoreHref
					span.icon.fa-home='3d Models'
			li
				a( href="/feedback").skel-layers-ignoreHref
					span.icon.fa-home='Feedback'					
