extends ../layouts/navigation
block content
		script(src='/js/infiniteScroll.js')
		section
		a(href='/admin/models/create/')='Create'
		div(data-uk-grid).container
			each val in model
				article.item.uk-width-1-3
					a(href='/nojs' onclick='return false;').image.fit
						img(src='/3d/'+val._id+'/image/'+val.img)
					header
						h3=val.title
						p=val.author
					a(href='/admin/models/update/'+val._id)='Update'
					a(href='/admin/models/delete/'+val._id)='Delete'		
		a(href='/noja' onclick='infiniteScroll(); return false;')='Load'				